.line {
	display: flex;
	flex-wrap: wrap;
}
.line.reverse {
	flex-direction: row-reverse;
}

.column {
	display: flex;
	flex-direction: column;
}
.column.reverse {
	flex-direction: column-reverse;
}

/* Center content*/
.line.h-centered {
	justify-content: center;
}
.line.v-centered {
	align-items: center;
}
.column.h-centered {
	align-items: center;
}
.column.v-centered {
	justify-content: center;
}
.centered {
	align-items: center;
	justify-content: center;
}

/* Modifiers to container main axis */
.justify-around {
	justify-content: space-around;
}
.justify-between {
	justify-content: space-between;
}
.justify-end {
	justify-content: flex-end;
}
.justify-evenly {
	justify-content: space-evenly;
}
.justify-start {
	justify-content: flex-start;
}

/* Modifiers to container cross axiss */
.align-start {
	align-items: flex-start;
}
.align-end {
	align-items: flex-end;
}

/* General modifiers to container */
.wrap {
	flex-wrap: wrap;
}
.nowrap {
	flex-wrap: nowrap;
}
.wrap-reverse {
	flex-wrap: wrap-reverse;
}

/* Modifiers to children */
.item-center {
	align-self: center;
}
.item-end {
	align-self: flex-end;
}
.item-start {
	align-self: flex-start;
}
.item-fill {
	flex: 1 0 auto;
}
